@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=PT+Serif:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Noto Serif;
}

.card {
  margin: 20px 20px 20px 20px;
  min-height: 400px;
  width: 300px;
  background-color: #333;
  border: 5px solid rgba(162, 0, 255, 0.548);
  box-shadow: 0 0 5px #000;
}

.card__image {
  margin: 10px 10px 10px 10px;
  height: 150px;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
  border: 2px solid #fff;
}

.card__title {
  text-align: center;
  color: rgb(0, 0, 0);
}

.card__descripcion {
  color: #fff;
  padding: 20px;
}

.card__butom {
  background-color: rgba(255, 0, 200, 0.507);
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 25px;
  width: 50%;
  margin: auto;
  box-shadow: 0 0 5px #fff;
}

.card__butom:hover {
  background-color: rgba(127, 255, 212, 0.315);
  color: #000;
  text-decoration: none;
}

body {
  height: auto;
  background-image: linear-gradient(45deg, rgba(247, 241, 244, 0.589) 10%, rgba(255, 3, 121, 0.616) 80%, rgba(58, 2, 53, 0.5) 10%);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: #000;
}

.navbar {
  background-color: rgba(3, 3, 3, 0.1921568627) !important;
  color: #000 !important;
  text-shadow: 0 0 5px #F63114;
}

.navbar-brand img {
  width: 100px !important;
}

.dropdown-menu {
  background-color: rgba(34, 33, 34, 0.5);
  color: #f0edda;
  text-transform: capitalize;
  font-size: 20px;
  transition: all 1s;
}

.dropdown-menu :hover {
  background-color: rgba(178, 20, 246, 0.678) !important;
  color: #000;
  font-size: 22px;
  transition: all 1s;
}

.presentacion {
  padding: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  font-size: 18 px;
  height: 80vh;
  background-color: rgba(240, 248, 255, 0.178);
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.right h1 {
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #333;
}

.right span {
  color: #059217;
}

.right p {
  font-size: 25px;
}

.left {
  background-image: url(../images/ballerina-2024547.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: top;
}

.contenedor {
  background-color: rgba(115, 45, 145, 0.5411764706);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 200px);
  padding: 20px;
  grid-gap: 15px;
}

.contenedor h2 {
  text-transform: capitalize;
  text-align: center;
}

.img {
  background-color: rgb(0, 33, 59);
  border: 2px solid #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.img:hover {
  transform: scale(1.05);
  transition: all 0.9s;
}

.c1 {
  background-image: url(../images/img-01.jpg);
}

.c2 {
  background-image: url(../images/img-02.jpg);
}

.c3 {
  background-image: url(../images/img-03.jpg);
}

.c4 {
  background-image: url(../images/img-04.jpg);
}

.c5 {
  background-image: url(../images/img-05.jpg);
}

.c6 {
  background-image: url(../images/img-06.jpg);
}

.c7 {
  background-image: url(../images/img-07.jpg);
}

.c8 {
  background-image: url(../images/img-08.jpg);
}

.c9 {
  background-image: url(../images/img-09.jpg);
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
}

.equipo {
  margin: auto;
  width: 80vh;
  height: 70vh;
}

.equipo img {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 70vh;
  border: #000 solid 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
}

.team-ub {
  width: 100%;
  height: auto;
  background-color: #0e50a7;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#daira {
  background-image: url(../images/equipo-03.jpeg);
}

#maria {
  background-image: url(../images/equipo-02.jpeg);
}

#leoni {
  background-image: url(../images/equipo-04.jpeg);
  background-position: top;
}

#galeria {
  text-transform: capitalize;
  font-size: 45px;
  color: #070030;
  text-shadow: 0 0 5px #1476f6;
}

#galeria span {
  color: #d40000;
}

.galeria-ub {
  width: 100%;
  height: auto;
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(24, 400px);
  padding: 20px;
  grid-gap: 15px;
}

.gal {
  width: 1fr;
  background-color: blueviolet;
  border: 2px solid #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(182, 89, 236, 0.5764705882);
  border-radius: 20px;
}

.im1 {
  background-image: url(../images/gal-01.jpeg);
}

.im2 {
  background-image: url(../images/gal-02.jpeg);
}

.im3 {
  background-image: url(../images/gal-03.jpeg);
}

.im4 {
  background-image: url(../images/gal-04.jpeg);
}

.im5 {
  background-image: url(../images/gal-05.jpeg);
}

.im6 {
  background-image: url(../images/gal-06.jpeg);
}

.im7 {
  background-image: url(../images/gal-07.jpeg);
}

.im8 {
  background-image: url(../images/gal-08.jpeg);
}

.im9 {
  background-image: url(../images/gal-09.jpeg);
}

.im10 {
  background-image: url(../images/gal-10.jpeg);
}

.im11 {
  background-image: url(../images/gal-11.jpeg);
}

.im12 {
  background-image: url(../images/gal-12.jpeg);
}

.im13 {
  background-image: url(../images/gal-13.jpeg);
}

.im14 {
  background-image: url(../images/gal-14.jpeg);
}

.im15 {
  background-image: url(../images/gal-15.jpeg);
}

.im16 {
  background-image: url(../images/gal-16.jpeg);
}

.im17 {
  background-image: url(../images/gal-17.jpeg);
}

.im18 {
  background-image: url(../images/gal-18.jpeg);
}

.im19 {
  background-image: url(../images/gal-19.jpeg);
}

.im20 {
  background-image: url(../images/gal-20.jpeg);
}

.im21 {
  background-image: url(../images/gal-21.jpeg);
}

.im22 {
  background-image: url(../images/gal-22.jpeg);
}

.im23 {
  background-image: url(../images/gal-23.jpeg);
}

.im24 {
  background-image: url(../images/gal-24.jpeg);
}

.box {
  width: 3fr;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to left, rgba(12, 201, 201, 0.589) 10%, rgba(255, 3, 121, 0.616) 80%, rgba(3, 112, 18, 0.5) 10%);
}

.image {
  width: 1fr;
  background-image: url(../images/contacto-02.png);
}

.image2 {
  width: 1fr;
  background-image: url(../images/contacto-01.png);
}

.contact_form {
  width: 1fr;
  height: auto;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #1476f6;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #b78fd8;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 80%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
}

.redes a {
  font-size: 25px;
  color: #B214F6;
  letter-spacing: 20px;
  transition: all 1s;
}

.redes a:hover {
  font-size: 35px;
  color: #1476f6;
}

.footer {
  color: white;
  text-transform: capitalize;
}

@media only screen and (min-width: 550px) {
  .galeria-ub {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 400px);
    padding: 20px;
    grid-gap: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .team-ub {
    width: 100%;
    height: auto;
    background-color: #0e50a7;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .presentacion {
    flex-direction: row;
    justify-content: space-between;
  }
  .right {
    width: 50%;
    height: 80vh;
  }
  .right p {
    font-size: 25px;
  }
  .left {
    width: 50%;
    height: 80vh;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .c1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .c2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .c3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .c4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .c5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .c6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .c7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .c8 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .c8 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .galeria-ub {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 400px);
    padding: 20px;
    grid-gap: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
}/*# sourceMappingURL=style.css.map */